/*--body styling begins---*/
body{
  margin: 0;
  padding: 0;
  max-width: 1000px;
  padding: 1em;
}

/*---body styling ends---*/

.salad{
  max-width: 100%;
}
img{
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5em;
}

.address{
  padding-top: 2em;
  font-weight: 500;
  padding-bottom: 1em;
}
p{
  padding-bottom: 3em;
}
main{
  padding-bottom: 5.5em;
}
