/**---document styling---**/
*{
  box-sizing: border-box;
}
/*---document styling ends--*/

/*---hamburger---*/
.logo{
  width:70px;
  display: inline-block;
  margin-left: 2em;
  margin-top: .5em;
}
.surrounding{
  background-color: white;
  position: fixed;
  left: 0;
  top: 30px;
  height: 50px;
  width: 100%;
  z-index: 100;
  margin-top: -2em;
  border-bottom: 3px solid lightgrey;
}
a.menu-link {
        float: right;
        display: block;
        padding: 1em;
        width: 125px;
        }

/* Adds Code for Pure CSS Hamburger Button */
.menu-dropdown{
  float: right;
  background-color: white;
}
.menu-link__hamburger {
  margin: 0px;
    text-align: center;
    width: 33px;
    float: right;
    transform: translate(0,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

a.menu-link span {
  display: block;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px; /* Adjust the rounding of the hamburger here */
  z-index: 1;
  overflow: visible;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

a.menu-link span:first-child {
  transform-origin: 0% 0%;
}


a.menu-link span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
    transform: translate(10px, 0);
}

.menu-link.active span {
  opacity: 1;
  background: black;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
        }
        nav[role=navigation].active {
            max-height: 15em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
        }
        nav[role=navigation] li a {
            display: block;
        }

        @media screen and (min-width:800px) {
            a.menu-link {
               display: none;
            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;
            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                border: 0;
            }
        }

/*--end hamburger---*/

/*---header styling begins---*/
.last{
  padding-bottom: 6em;
}
.container{
  position: relative;
  text-align: center;
  color: white;
  margin-left: 4.5em;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h1{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3.5em;
  margin: 0;
  margin-left: 0.1em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: -5.5em;
}
li.select:hover:focusstate{
  font-weight: 600;
  border-bottom: 3px solid red;
}
/*---header styling ends---*/
/*---main styling begins---*/
main{
  background-color: white;
  margin-bottom: -2em;
  padding-bottom: 0em;
}
/*---main styling ends---*/
/*---menu styling---*/
/*---menu styling ends---*/
/*--body styling begins---*/
body{
  margin: 0;
  padding: 0;
  max-width: 1000px;
  padding: 0 1em;
  background-color: rgba(107,142,22, 0.7);
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7em;
  padding-top: 1.5em;
  margin: 0;
}
.menuitems{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7em;
  color: white;
  padding-top: 0;
  padding-bottom: 2.3em;
}
h4{
  text-align: center;
  font-size:1em;
  padding-top: .2em;
  margin-top: 0.4em;
  color: rgb(250,196,90);
}
p{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: .8em;
  line-height: 1.5em;
  max-width: 400px;
  padding-top: 1em;
  padding-bottom: 2em;
  margin: 0 auto;
  text-align: center;
}
h2{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0 auto;
  color: white;
  text-align: right;
}
img{
  flex-wrap: wrap;
  display: flex;
  max-width: 100%;
}
.twist{
  color: rgb(250,196,90);
}
.overlay {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.overlay:before {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(22,1,0, 0.4);
}
.overlays {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.overlays:before {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(22,1,0, 0.2);
}
.buttontwist{
  text-align: center;
  margin-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 3em;
}
.buttonholder{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3em;
}
.button{
  background-color: rgb(107,142,22);
  padding: 0.5em;
  border-radius: 6px;
  font-family: 'Futura', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 auto;
  text-align: center;
}
.containerbot{
  margin-top: 0 auto;
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 3em;
}
.centeredbot{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top:-1.5em;
}
.social{
  margin: 0;
  padding: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}

/*--body styling ends--*/
/*---menu page styling---*/

/*---footer styling begins--*/
footer{
  border-top:8px solid rgb(250,196,90);
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  background-color: white;
}
h5{
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 0em;
  text-align: center;
  margin: 0 auto;
}
.footer{
  font-size: 0.5em;
  text-align:center;
  margin: 0 auto;
  max-width: 300px;
}

a{
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

li{
  text-decoration: none;
  list-style-type: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 0.6em;
  margin: 0 auto;
  text-align: center;
  color: black;
  padding: 0.5em;
}
.stay{
  text-align: center;
  margin: 0 auto;
}
.nav-bar__link{
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 0.4em;
  text-decoration: none;
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;

}

/*---footer styling ends---*/
/*--- media queries ---*/
@media screen and (max-width: 450px){
.containers{
  padding-top: 3em;
}
}
@media screen and (max-width:600px) {
ul.menu-dropdown{
    width: 50%;
    font-size: 1.7em;
  }
}
  @media screen and (min-width:600px) {
.container{
  text-align: center;
  margin-right: 1.5em;
}
ul.menu-dropdown{
        margin-top: 0.3em;
        font-size: 1.7em;
      }
  .flex{
    display: flex;
    margin-right: 3.5em;
  }
.ourstory{
      content: url("shane-rounce-384251.jpg");
      display:none;
      }
.ourfood{
  display: none;
  content: url("rustic-vegan-459510.jpeg");
}
h1{
      font-size: 5em;
      margin-top: -3.8em;
  }

h2{
  font-size: 4em;
  }

h3{
  font-size: 2em;
  }

h4{
    font-size: 1.5;
  }

h5{
  font-size: 0.8em;
}
footer{
  padding-top: 2em;
}

.footer{
  font-size: 0.7em;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  }
p{
    text-align: center;
    margin: 0 auto;
  }

li.ham{
    font-size: 0.7em;
  }

li{
    font-size: 0.7em;
    text-align: center;
    margin: 0 auto;
  }
.buttontwist{
    margin-top: 3em;
    padding-bottom: 2em;
    margin-bottom: 3.5em;
  }
.buttonholder{
    padding-bottom: 3em;
    padding-top: 1.5em;
  }
}
@media screen and (min-width: 750px){
  .flex{
    display: flex;
    margin-left: 10.5em;
  }
.surrounding{
  margin-top: -1.9em;
}
.logo{
  width: 90px;
}
  nav[role=navigation] li a {
    padding-top: .3em;
    margin-right: .5em;
  }
  .ourstory{
    content: url("shane-rounce-384251.jpg");

    max-width: 60%;
margin: 0 auto;
text-align: center;
flex-wrap: wrap;
padding-top: 1.5em;
    display: block;
    }

.holder{
      display: flex;
      margin-bottom: 6em;
    }
.ourfood{
  content: url("rustic-vegan-459510.jpeg");
  max-width: 400px;
  max-height: 400px;
  padding-left: 4em;
  display: block;
  }

.top{
  padding-top: 5em;
  padding-left: 2em;
  max-width: 60%;
margin: 0 auto;
text-align: center;
flex-wrap: wrap;
padding-top: 1.5em;
}
p{
  font-size: 1em;
}
h1{
    font-size: 6em;
    margin-top: -2.6em;
  }

h2{
  font-size: 6em;
  text-align: center;
  }

h3{
  font-size: 2.3em;
  padding-top: 2.5em;
  }

h4{
    font-size: 1.2em;
    padding-bottom: 1.5em;
  }

h5{
  font-size: 0.8em;
}
footer{
  padding-top: 2em;
}

.footer{
  font-size: 0.7em;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  }
p{
    text-align: center;
    margin: 0 auto;
  }

li.ham{
    font-size: 0.7em;
    padding-top:.3em;
  }

li{
    font-size: 0.7em;
    text-align: center;
    margin: 0 auto;
  }
.buttontwist{
    margin-top: 3em;
    padding-bottom: 2em;
    margin-bottom: 3.5em;
  }
.buttonholder{
    padding-bottom: 4em;
    padding-top: 2em;
  }
}
@media screen and (min-width: 800px){
  .surrounding{
    display: flex;
  }
  ul.menu-dropdown{
    padding-right: 1.5em;
  }
  .flex{
    display: flex;
    margin-right: 3.5em;
  }
  }

@media screen and (min-width:900px) {
ul.menu-dropdown{
  padding-right: 2em;
}
  .ourstory{
    content: url("shane-rounce-384251.jpg");
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    text-align: center;
    display: block;
    }
  .holder{
      display: flex;
    }
  .ourfood{
    content: url("rustic-vegan-459510.jpeg");
    max-width: 450px;
    max-height: 450px;
    padding-left: 4em;
    display: block;
    }
  .top{
    text-align: left;
    padding-top: 5em;
    max-width: 450px;
    padding-left: 2em;
    padding-right: 0em;
  }
  p{
    font-size: 1.2em;
  }
  h1{
      font-size: 7em;
    }

  h2{
    padding-top: 0.7em;
    font-size: 6.5em;
    text-align: center;
    }

  h3{
    font-size: 2.5em;
    padding-top: 2.5em;
    }

  h4{
      font-size: 1.4em;
      padding-bottom: 1.5em;
    }

  h5{
    font-size: 0.8em;
  }
  footer{
    padding-top: 2em;
  }

  .footer{
    font-size: 0.7em;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    }
  p{
      text-align: center;
      margin: 0 auto;
    }

  li.ham{
      font-size: 0.76em;
      padding-top:.3em;
    }

  li{
      font-size: 0.7em;
      text-align: center;
      margin: 0 auto;
    }
  .buttontwist{
      margin-top: 3em;
      padding-bottom: 2em;
      margin-bottom: 3.5em;
    }
  .buttonholder{
      padding-bottom: 4em;
      padding-top: 2em;
    }
}
@media screen and (min-width:1000px) {
ul.menu-dropdown{
  padding-right: 3em;
}
  body{
   width: 90%;
   margin: 0 auto;
   max-width: 1200px;
  }
  .peppers{
    max-height: 700px;
    margin-top: -3em;
  }
  .ourstory{
    content: url("shane-rounce-384251.jpg");
    display: block;
    }
    .holder{
      display: flex;
      padding-left: 4.5em;
    }
  .ourfood{
    content: url("rustic-vegan-459510.jpeg");
    max-width: 450px;
    max-height: 450px;
    padding-left: 4em;
    display: block;
    }
  .top{
    padding-top: 5em;
    max-width: 900px;

  }
  p{
    font-size: 1.2em;
  }
  h1{
      font-size: 8em;
      margin-top: -1.5em;
    }

  h2{
    padding-top: 0.7em;
    font-size: 6.5em;
    text-align: center;
    }

  h3{
    font-size: 2.5em;
    padding-top: 2.5em;
    }

  h4{
      font-size: 1.4em;
      padding-bottom: 1.5em;
    }

  h5{
    font-size: 0.8em;
  }
  footer{
    padding-top: 2em;
  }

  .footer{
    font-size: 0.7em;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    }
  p{
      text-align: center;
      margin: 0 auto;
    }
  li.ham{
      font-size: 0.8em;
      padding-top:.2em;
    }

  li{
      font-size: 0.7em;
      text-align: center;
      margin: 0 auto;
    }
  .buttontwist{
      margin-top: 3em;
      padding-bottom: 2em;
      margin-bottom: 3.5em;
    }
  .buttonholder{
      padding-bottom: 4em;
      padding-top: 2em;
    }
    .flex{
      display: flex;
      margin-right: 3.5em;
    }

}
@media screen and (min-width:1300px) {
  h1{
    font-size: 10em;
    margin-top: -1em;
  }
}

/*---fonts---*/
<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:700|Oswald:600" rel="stylesheet">
